.category {
    background-color: #f0f0f0;
    padding: 10px 10px 10px 10px;
    border-radius: 2%;
    text-align: left;
    line-height: 1.7;
}

.theloai {
    text-decoration: none;
    color: rgb(44, 40, 40);
    font-weight: 500;
}

.theloai:hover {
    text-decoration: none;
    color: rgb(119, 116, 116);
}

#e {
    list-style: none;
    float: none;
    text-align: left;
}